:root, [data-md-color-scheme="default"]{
    --md-shadow-z1:                 none;
    --md-shadow-z2:                 none;
    --md-shadow-z3:                 none;
}

:root, [data-md-color-scheme="slate"]{
    --md-shadow-z1:                 none;
    --md-shadow-z2:                 none;
    --md-shadow-z3:                 none;
}

.md-header {
    background-color: var(--md-default-bg-color);
    color: var(--md-default-fg-color);
    box-shadow: none;
    transition: none;    
}

.md-nav--primary .md-nav__title[for=__drawer] {
    background-color: var(--md-default-bg-color);
    color: var(--md-default-fg-color);
}

.md-nav--primary .md-nav__title[for^="__nav"] {
    background-color: var(--md-default-bg-color);
    color: var(--md-default-fg-color);
}

.md-search__form {
    background-color: transparent;
}

.md-search__input + .md-search__icon {
    color: var(--md-code-fg-color);
}
.md-search__input::placeholder {
    color: var(--md-code-fg-color);
}

.md-search__form:hover{
    background-color: transparent;
    opacity: 0.80;    
}

.md-typeset table:not([class]) th {
    color: var(---md-default-fg-color);
    font-weight: 400;
    opacity: 0.5;
}

.md-typeset h1 {
    color: var(--md-default-fg-color);
}

.md-typeset h4 {
    font-weight: 400;
    font-size: 1.10em;
}